{% set page_title = config.title %}
{% extends "_base.html" %}


{% block content %}
<main id="maincontent" role="main">
    <section class="nhsuk-section nhsuk-u-padding-top-7">
      <div class="nhsuk-width-container">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <ul>
              <li><a href="/public.html">Public landing page</a></li>
              <li><a href="/teams.html">Internal landing page</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}
